<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Document</title>
  </head>
  <body>
    <h2>Dear <%= @inquiry.first_name.to_s + " " + @inquiry.last_name.to_s %></h2>
    <p>
      Pls see the quote below for Quotation No. <%= @inquiry.inquiry_no %>
    </p>

    <table border="1" style="border-collapse: collapse;" width="80%">
      <thead>
        <th bgcolor="D6DDEE">No.</th>
        <th bgcolor="D6DDEE">Product Name</th>
        <th bgcolor="D6DDEE">Cas No.</th>
        <th bgcolor="D6DDEE">Cat_No.</th>
        <th bgcolor="D6DDEE">Quantity</th>
        <th bgcolor="D6DDEE"><p style="color:#FF0000">CIF/EXW/FOB</p> Price</th>
        <th bgcolor="D6DDEE">Purity</th>
        <th bgcolor="D6DDEE">Stock/Customization</th>
        <th bgcolor="D6DDEE">Hazardous/Non-Haz</th>
        <th bgcolor="D6DDEE">Appearance</th>
        <th bgcolor="D6DDEE">Storage</th>
        <th bgcolor="D6DDEE">Country of Origin</th>
        <th bgcolor="D6DDEE">HS Code</th>
        <th bgcolor="D6DDEE">Remarks</th>
      </thead>
      <tbody>
        <% @inquiry_quotations.each_with_index do |quo,i| %>
          <tr>
            <td bgcolor="D6DDEE"><%= i+1  %></td>
            <td bgcolor="D6DDEE"><%= quo.inquiry.product_name %></td>
            <td bgcolor="D6DDEE"><%= quo.inquiry.cas %></td>
            <td bgcolor="D6DDEE"><%= quo.inquiry.product&.catalog_no.to_s %></td>
            <td bgcolor="D6DDEE"><%= quo.package %></td>
            <td bgcolor="D6DDEE"><%= quo.price %></td>
            <td bgcolor="D6DDEE"><%= quo.purity %></td>
            <td bgcolor="D6DDEE"><%= quo.is_customized? ? "Customization." : "Stock." + quo.stock.to_s %></td>
            <td bgcolor="D6DDEE"><%= quo.is_dangerous? ? "Hazardous" : "Non-Haz" %></td>
            <td bgcolor="D6DDEE"><%= quo.appear_shape %></td>
            <td bgcolor="D6DDEE"><%= quo.storage %></td>
            <td bgcolor="D6DDEE"><%= quo.country %></td>
            <td bgcolor="D6DDEE"><%= quo.hs_code %></td>
            <td bgcolor="D6DDEE"><%= quo.note %></td>
          <tr>
        <% end %>
      </tbody>
    </table>

    <p>
      Thanks and look forward to your feedbacks.
    </p>
    <p><%= @inquiry.employee&.name.to_s %></p>
    <p>Kchemical</p>
  </body>
</html>